    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Navigations</h3>
                        </div>
 
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'shop:about' %}">About Us</a></li>
                                <li><a href="{% url 'shop:contact' %}">Customer Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
 
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">Makurdi, Benue state, Nigeria</li>
                            <li class="phone"><a href="tel://08162058213">+2348162058213</a></li>
                            <li class="email">aulegabriel381@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>