{% extends "shop/base/base.html" %}

{% block title %} Search | {% endblock %}

{% block content %} 
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                               <h1> search results</h1>
                               <h3> Query "{{ query }}"</h3>
                            </div>

                            {% for product in products %}
                            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                <div class="block-4 text-center border">
                                    <figure class="block-4-image">
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" 
                                                alt="Image placeholder" class="img-fluid"  style="width:50%"></a>
                                    </figure>
                                    <div class="block-4-text p-4">
                                        <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                        <p class="mb-0">{{ product.description }}</p>
                                        <p class="text-primary font-weight-bold">&#8358;{{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
              
                                {% empty %}
                                     <div class=" content">
                                         <p> No result for the event query </p>
                                     </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}